<%= button_to "logout", destroy_user_session_path, method: :delete%>

<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <% @products.each do |product| %>
              <%= render partial: "product", locals: {product: product} %>
            <% end %>
        </div>
    </div>
</section>

<div class="pagination">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
<!-- Latest Product Section End -->
